.article-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.article-container-img {
    max-width: 45%;
}

.article-container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    h1 {
        color: #f0bc00;
    }
}

.btn-more {
    border-radius: 30px;
    padding: 10px;
    background-color: #f0bc00;
    transition: 0.3s ease all;
    color: #fff;
    margin-top: 15px;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
        cursor: pointer;
    }
}

@media (min-width: 250px) and (max-width: 530px) {
    .banner {
        h1 {
            font-size: 35px;
        }
    }

    .article-container {
        flex-direction: column;
    }

    .article-container-img {
        max-width: 100%;
    }

    .article-container-info {
        padding: 10px;

        h1 {
            font-size: 30px;
        }
    }

    .btn-more {
        margin: 0;
    }
}

@media (min-width: 530px) and (max-width: 767px) {
    .banner {
        h1 {
            font-size: 35px;
        }
    }

    .article-container {
        flex-direction: column;
    }

    .article-container-img {
        max-width: 100%;
    }

    .article-container-info {
        padding: 10px;

        h1 {
            font-size: 30px;
        }
    }

    .btn-more {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .banner {
        h1 {
            font-size: 35px;
        }
    }

    .article-container {
        flex-direction: column;
    }

    .article-container-img {
        max-width: 100%;
    }

    .article-container-info {
        padding: 10px;

        h1 {
            font-size: 30px;
        }
    }

    .btn-more {
        margin: 0;
    }
}

