<div class="blog-container">
    <div class="banner">
        <h1>Блог</h1>
    </div>

    <div *ngIf="article$ | async as article; else loading">
        <div class="article-container" *ngFor="let article of article">
            <div class="article-container-img">
                <figure>
                    <quill-view-html [content]="article.photo"></quill-view-html>
                </figure>
            </div>
            <div class="article-container-info">
                <h1>
                    {{article.title}}
                </h1>
                <quill-view-html [content]="article.info"></quill-view-html>
                <button [routerLink]="['/blog', article.id]" routerLinkActive="router-link-active"  class="btn btn-more">
                    Узнать больше
                </button>
            </div>
        </div>
    </div>

</div>

<ng-template #loading>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
</ng-template>