<div class="blog-container">
    <div class="banner">
        <h1>Блог</h1>
    </div>

    <div class="container bl" *ngIf="article$ | async as article">
        <div class="blog-container-main" *ngFor="let articles of article">
            <figure>
                <quill-view-html [content]=articles.photo></quill-view-html>
            </figure>
            <h4>
                {{articles.title}}
            </h4>
            <quill-view-html [content]="articles.descShort"></quill-view-html>
            <button [routerLink]="['/blog', articles.id]" routerLinkActive="router-link-active"  class="btn btn-more">
                Узнать больше
            </button>
        </div>
    </div>

</div>