
.bl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blog-container-main {
    flex-wrap: wrap;
    flex-basis: 25%;

    h4 {
        margin-bottom: 15px;
    }

    button {
        margin-top: 15px;
    }
}

.btn-more {
    border-radius: 30px;
    padding: 10px;
    background-color: #f0bc00;
    transition: 0.3s ease all;
    color: #fff;
    margin-top: 15px;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
        cursor: pointer;
    }
}