<div class="logo_container">
    <h2>Eco Wood</h2>
</div>

<div class="main_cont">
    <div class="scontainer">
        <nav class="snavbar">
            <div class="admin_menu_container">
                    <ul *ngIf="auth.isAuth();else login">
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'dashboard']" >Панель управления</a></li>
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'orders']">Заказы</a></li>
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'add-slider']" >Слайдер</a></li>
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'add-services']">Сервисы</a></li>
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'add-products']">Продукты</a></li>
                        <li routerLinkActive="active-link"> <a [routerLink]="['/admin', 'add-article']">Статьи</a></li>
                        <li> <a href="#" (click)="logout($event)">Log out</a></li>
                    </ul>
            </div>

            <ng-template #login>
                    <ul>
                        <li routerLinkActive="active-link"><a [routerLink]="['/admin', 'login']"  >LogIn</a></li>
                    </ul>
            </ng-template>
        </nav>
    </div>
    
    <div class="rout_cont">
        <router-outlet></router-outlet>
    </div>
</div>
