<div *ngIf="servInfo$ | async as services; else loading">
    <div class="service">
        <div class="service-back-btn">
            <button class="btn btn-dark" [routerLink]="['/services']" routerLinkActive="router-link-active" >Back</button>
        </div>
        <div class="service-card">
            <h2>
                {{services.desc}}
            </h2>
            <div >
                <quill-view-html [content]="services.img"></quill-view-html>
            </div>
        </div>
        <div class="item"> 
                <quill-view-html [content]="services.info"></quill-view-html>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</ng-template>