<div *ngIf="servInfo$ | async as services; else loading">
    <div class="service">
        <div class="service-back-btn">
            <button class="btn btn-dark" [routerLink]="['/services']" routerLinkActive="router-link-active" >Back</button>
        </div>
        <div class="service-card">
            <h2>
                {{services.desc}}
            </h2>
            <div >
                <quill-view-html [content]="services.img"></quill-view-html>
            </div>
        </div>
        <div class="item"> 
                <quill-view-html [content]="services.info"></quill-view-html>
        </div>
    </div>
</div>

<ng-template #loading>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
</ng-template>