.services-container {
    position: relative;
    width: 100%;
    padding: 2rem;
    text-align: center;
    background: linear-gradient(#ffc107, #ffb300);
    display: flex;
    flex-direction: column;
	align-items: center;
	
	a {
		text-decoration: none;
	}

    &:hover {

		cursor: pointer;
        
        figure {
			transform: translate(0, -20px);
			cursor: pointer;
        }

        figcaption {
            transform: translate(0, 20px);
            color: #000;
        }
    }


        figure {
            padding: 1rem;
            transition: 0.5s;
            max-width: 100%;
        }

        figcaption {
            text-align: center;
            font-size: 30px;
            color: #fff;
            transition: 0.5s;
        }
}

.srv-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.prod {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
}

.prod-container-main {
    flex-wrap: wrap;
	flex-basis: 25%;
	
	a {
		color: #000;
		text-decoration: none;
	}
}

.contacts-info {
    display: flex;
    flex-direction: row;
	margin-top: 30px;
	width: 100%;

    figure {
        max-width: 50%;
    }
}

.contacts-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #008653;

    input {
        margin: 10px 0;
        width: 60%;
    }
}

@media (min-width: 250px) and (max-width: 530px) {
	.srv-container {
		flex-direction: column;

		figcaption {
			font-size: 1.8rem;
		}
	}

	.prod {
		flex-direction: column;
		text-align: center;

		h5 {
			text-align: left;
		}
	}

	.prod-container-main {
		margin:  20px 0;
	}

	.contacts-info {
		flex-direction: column !important;
		width: 100% !important;

		figure {
			max-width: 100% !important;
		}

		.contacts-form {
			width: 100%;
			padding: 25px 0;
			text-align: center;
		}
	}
}

@media (min-width: 530px) and (max-width: 767px) {
	.srv-container {
		flex-direction: column;

		figcaption {
			font-size: 2.4rem;
		}
	}

	.prod {
		flex-direction: column;
		text-align: center;

		h5 {
			text-align: left;
		}
	}

	.prod-container-main {
		margin:  20px 0;
	}

	.contacts-info {
		flex-direction: column !important;
		width: 100% !important;

		figure {
			max-width: 100% !important;
		}

		.contacts-form {
			width: 100%;
			padding: 25px 0;
			text-align: center;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.srv-container {
		flex-direction: column;

		figcaption {
			font-size: 2.4rem;
		}
	}

	.prod {
		flex-direction: column;
		text-align: center;

		h5 {
			text-align: left;
		}
	}

	.prod-container-main {
		margin:  20px 0;
	}

	.contacts-info {
		flex-direction: column !important;
		width: 100% !important;

		figure {
			max-width: 100% !important;
		}

		.contacts-form {
			width: 100%;
			padding: 25px 0;
			text-align: center;
		}
	}
}

@media (min-width: 991px) and (max-width: 1280px) {
	.srv-container {

		figcaption {
			font-size: 20px;
		}
	}
}