<app-image-slider></app-image-slider>
<div class="srv-container" *ngIf="servInfo$ | async as services; else loading">
    <div class="services-container" *ngFor="let services of services">
        <a [routerLink]="['/services', services.id]" routerLinkActive="router-link-active" >
            <figure>
                <quill-view-html [content]="services.img" class="quillImg"></quill-view-html>
            </figure>
            <figcaption>
                {{services.desc}}
            </figcaption>
        </a>
    </div>
</div>
<div class="container prod" *ngIf="products$ | async as products">
    <div class="prod-container-main" *ngFor="let products of products">
        <a [routerLink]="['/products', products.id]" routerLinkActive="router-link" >
            <figure>
                <quill-view-html [content]=products.photo></quill-view-html>
            </figure>
            <h4>
                {{products.title}}
            </h4>
            <quill-view-html [content]="products.descShort"></quill-view-html>
            <div>
                {{products.price}} $
            </div>
        </a>
    </div>
</div>

<div class="contacts-info container">
    <figure>
        <img src="https://static.tildacdn.com/tild6436-3634-4339-a539-376263333133/Rectangle.png" alt="">
    </figure>

    <div class="contacts-form">
        <h2>Заказать продукцию</h2>
        <p>Заполните форму и мы вышлем вам наш прайс-лист</p>
        <input type="text" placeholder="Ваше ФИО">
        <input type="tel" placeholder="123-45-678" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" required>
        <input type="email" placeholder="Ваш email">
        <button class="btn btn-dark">Заказать</button>
    </div>
</div>

<ng-template #loading>
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</ng-template>