<app-image-slider></app-image-slider>
<div class="srv-container" *ngIf="servInfo$ | async as services; else loading">
    <div class="services-container" *ngFor="let services of services">
        <a [routerLink]="['/services', services.id]" routerLinkActive="router-link-active" >
            <figure>
                <quill-view-html [content]="services.img" class="quillImg"></quill-view-html>
            </figure>
            <figcaption>
                {{services.desc}}
            </figcaption>
        </a>
    </div>
</div>
<div class="container prod" *ngIf="products$ | async as products">
    <div class="prod-container-main" *ngFor="let products of products">
        <a [routerLink]="['/products', products.id]" routerLinkActive="router-link" >
            <figure>
                <quill-view-html [content]=products.photo></quill-view-html>
            </figure>
            <h4>
                {{products.title}}
            </h4>
            <quill-view-html [content]="products.descShort"></quill-view-html>
            <div>
                {{products.price}} $
            </div>
        </a>
    </div>
</div>

<ng-template #loading>
    <div class="windows8">
        <div class="wBall" id="wBall_1">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_2">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_3">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_4">
            <div class="wInnerBall"></div>
        </div>
        <div class="wBall" id="wBall_5">
            <div class="wInnerBall"></div>
        </div>
    </div>
</ng-template>