<div *ngIf="products.length; else loading">
    <h2 class="text-center">Панель управление товарами</h2>

    <div class="form-group">
        <!-- <input type="text" placeholder="Find a product..." [(ngModel)]="productName"> -->
    </div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Название товара</th>
                <th>Цены</th>
                <th>Дата создания</th>
                <th>Редактировать</th>
                <th>Удалить</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let product of products; let idx = index">
                <td> {{idx + 1}} </td>
                <td> {{ product.title }} </td>
                <td> {{ product.price }} </td>
                <td> {{ product.date | date: 'short'}} </td>
                <td>
                    <button class="btn btn-dark" [routerLink]="['/admin', 'add-products', product.id, 'edit']" routerLinkActive="router-link-active" >Редактировать</button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="remove(product.id)">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">Loading...</p>
</ng-template>