<div *ngIf="products$ | async as product; else loading">
    <div class="product">
        <div class="product-back-btn">
            <button class="btn btn-dark" [routerLink]="['/products']" routerLinkActive="router-link-active" >Back</button>
        </div>
        <div class="product-card container">
                    <div class="product-card-img">
                        <quill-view-html [content]="product.photo"></quill-view-html>
                    </div>

                <div class="item">    
                    <h2>
                        {{product.title}}
                    </h2>
                    <div>
                        <quill-view-html [content]="product.info"></quill-view-html>
                    </div>
                    
                    <h2>
                        Price: {{product.price}} $
                    </h2>
                </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
</ng-template>