.product-back-btn {
	margin-left: 15px;
}

.product-card {
	display: flex;
	flex-direction: row;
	align-items: center;

	.product-card-img {
		min-width: 50%;
	}

	.item {
		flex-direction: column;
		padding: 15px;

		h2 {
			margin: 20px 0;
		}
	}
}

@media (min-width: 250px) and (max-width: 530px) {
	.product-card {
		flex-direction: column;
	}
}

@media (min-width: 530px) and (max-width: 767px) {
	.product-card {
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.product-card {
		flex-direction: column;
	}
}
