.product-container {
    display: flex;
    flex-direction: row;
}

.product-container-img {
    min-width: 45%;
}

.product-container-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    h1 {
        color: #f0bc00;
    }
}

.product-container-price {
    display: flex;
    flex-direction: row;
    align-items: center;
    h3 {
        margin-left: 15px;
    }
}

.btn-more {
    border-radius: 30px;
    padding: 10px;
    background-color: #f0bc00;
    transition: 0.3s ease all;
    color: #fff;
    margin-top: 15px;

    &:hover {
        background-color: #3a3a3a;
        color: #fff;
        cursor: pointer;
    }
}

.filter {
    background-color: #f0bc00;
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            margin: 0 15px;
            padding: 15px;
            list-style-type: none;
            font-size: 20px;
            font-weight: 600;
            transition: .3s ease all;
            cursor: pointer;

            a {
                color: #000;
                text-decoration: none;
            }

            &:hover {
                background-color: rgba(12, 182, 35, 0.4);
            }
        }
    }
}