<div class="serv-container">
    <div class="banner">
        <h1>Services</h1>
    </div>

    <div class="serv-container-wrap" *ngIf="servInfo$ | async as servInfo">
        <div *ngFor="let servInfos of servInfo; let i = index">
            <div class="services-container" *ngIf="i % 2 != 0; else odd">
                <div class="service-container-img">
                    <figure>
                        <quill-view-html [content]="servInfos.img"></quill-view-html>
                    </figure>
                </div>
                <div class="services-container-wrap">
                    <div class="container">
                        <h4>
                            {{ servInfos.desc }}
                        </h4>
                        <div class="services-container-content">
                            <quill-view-html [content]="servInfos.info" class="serv-info"></quill-view-html>
                        </div>
                        <button class="serv-btn">Узнать больше</button>
                    </div>
                </div>
            </div>

            <ng-template #odd>
                <div class="services-container-rev">
                    <div class="service-container-img">
                        <figure>
                            <quill-view-html [content]="servInfos.img"></quill-view-html>
                        </figure>
                    </div>
                    <div class="services-container-wrap-rev">
                        <div class="container-rev">
                            <h4>
                                {{ servInfos.desc }}
                            </h4>
                            <div class="services-container-content">
                                <quill-view-html [content]="servInfos.info" class="serv-info-rev"></quill-view-html>
                            </div>
                            <button class="serv-btn">Узнать больше</button>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>
