<div class="serv-container">
    <div class="banner">
        <h1>Сервисы</h1>
    </div>

    <div class="serv-container-wrap" *ngIf="servInfo$ | async as services; else loading">
        <div *ngFor="let services of services; let i = index">
            <div class="services-container" *ngIf="i % 2 != 0; else odd">
                <div class="service-container-img">
                    <figure>
                        <quill-view-html [content]="services.img"></quill-view-html>
                    </figure>
                </div>
                <div class="services-container-wrap">
                    <div class="container">
                        <h4>
                            {{ services.desc }}
                        </h4>
                        <div class="services-container-content">
                            <quill-view-html [content]="services.info" class="serv-info"></quill-view-html>
                        </div>
                        <button [routerLink]="['/services', services.id]" routerLinkActive="router-link-active"  class="serv-btn">Узнать больше</button>
                    </div>
                </div>
            </div>

            <ng-template #odd>
                <div class="services-container-rev">
                    <div class="service-container-img">
                        <figure>
                            <quill-view-html [content]="services.img"></quill-view-html>
                        </figure>
                    </div>
                    <div class="services-container-wrap-rev">
                        <div class="container-rev">
                            <h4>
                                {{ services.desc }}
                            </h4>
                            <div class="services-container-content">
                                <quill-view-html [content]="services.info" class="serv-info-rev"></quill-view-html>
                            </div>
                            <button [routerLink]="['/services', services.id]" routerLinkActive="router-link-active" class="serv-btn">Узнать больше</button>
                        </div>
                    </div>
                </div>
            </ng-template>

        </div>
    </div>
</div>


<ng-template #loading>
    <ngx-spinner bdColor = "rgba(0, 0, 0, 1)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"></ngx-spinner>
</ng-template>